<ion-header>
    <ion-navbar color="title2">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    
      <ion-title>สมาชิก</ion-title>
   
    </ion-navbar>

  </ion-header>

<ion-content padding>

    <div class="container">
  
        <div class="float-right">Welcome {{emailAdmin}} | <button class="btn btn-outline-info" (click)="Logout()">Logout</button></div><br>
    
        <button ion-button color="dark" (click)="addAdmin()">เพิ่มผู้ดูแลระบบ</button><br>

    <div *ngIf="AddForm">
        <form>
            <!--Fullname-->
        <div class="form-group">
           <label for="fullname">ชื่อ-นามสกุล</label>
           <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Name" [(ngModel)]="fullname">
         </div>
       
         <!--email-->
         <div class="form-group">
           <label for="email">อีเมลล์</label>
           <input name="email" type="email" class="form-control" id="email" placeholder="Email address" [(ngModel)]="email">
         </div>
       
         <!--password-->
         <div class="form-group">
           <label for="password">รหัสผ่าน</label>
           <input name="password" type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
         </div>

          <!--CFpassword-->
          <div class="form-group">
            <label for="CFpassword">รหัสผ่าน</label>
            <input name="CFpassword" type="password" class="form-control" id="CFpassword" placeholder="Confirm Password" [(ngModel)]="CFpassword">
          </div>
       
          <button ion-button color="sport" (click)="registerAdmin()">ยืนยัน</button>
          <button ion-button color="sport" (click)="hide()">ยกเลิก</button>
         </form>
    </div>
    <br>

     <!--admin-->
    <ion-item-divider color="sport">ผู้ดูแลระบบ</ion-item-divider>
    <div class="container w3-padding">
            <p class="alert alert-warning">สถานะ Admin 
               <br>- เพิ่มข้อมูลสถานที่ท่องเที่ยว
               <br>- แก้ไขข้อมูลสถานที่ท่องเที่ยว 
               <br>- ไม่สามารถจัดการข้อมูลผู้ใช้ได้
            </p>
         </div>
    <ion-list  *ngFor="let item of itemsAdmin | async">
            <ion-item-sliding>
               <ion-item >
                  <ion-avatar item-start>
                     <img src="{{item.payload.val().photoURL}}">
                  </ion-avatar>
                  <h2>{{item.payload.val().fullname}}</h2>
                  <h2>{{item.payload.val().email}}</h2>
                  <p>สถานะ: {{item.payload.val().status}}</p>
               </ion-item>
               <ion-item-options side="right">
                  <button ion-button color="light" (click)="ViewDataStaff(item)">
                     <ion-icon name="md-eye"></ion-icon>
                     ดูข้อมูลผู้ดูแล
                  </button>
                  <button ion-button color="danger" (click)="deleteAdmin(item)">
                     <ion-icon name="md-trash"></ion-icon>
                     ลบผู้ดูแล
                  </button>
               </ion-item-options>
            </ion-item-sliding>
         </ion-list>

   <!--สมาชิก-->
   <ion-item-divider color="sport"> สมาชิก</ion-item-divider>
   <div class="container w3-padding">
        <p class="alert alert-warning">สถานะ Member 
          <br>- สามารถเปลี่ยนเป็นสิทธิ์ Admin ได้ </p>
    </div>
   <ion-list  *ngFor="let item of itemsUser | async">
        <ion-item-sliding>
             <ion-item >
                 <ion-avatar item-start>
                     <img src="{{item.payload.val().photoURL}}">
                 </ion-avatar>
                 <h2>{{item.payload.val().fullname}}</h2>
                 <h2>{{item.payload.val().email}}</h2>
                 <p>สถานะ: {{item.payload.val().status}}</p>  
             <!--<button ion-button outline item-end (click)="member(item)">member</button> -->
             </ion-item>
             <ion-item-options side="right">
                <button ion-button color="light" (click)="presentModal(item)">
                    <ion-icon name="md-eye"></ion-icon>
                    ดูข้อมูลผู้ใช้
                </button>
             
                <button ion-button color="primary" (click)="admin(item)">
                    <ion-icon name="md-person-add"></ion-icon>
                    มอบสิทธิ์ Admin
                </button>
            </ion-item-options>
            </ion-item-sliding>
     </ion-list>
</div>

</ion-content>
