<ion-header >
    <ion-navbar color="title2">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>บึงยี่โถ</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
   
    <div class="test" >
      <div *ngFor="let item of itemProduct | async">
        <div class="w3-display-container" style="text-align: center" (click)="goWatPage(item)" >
           <img src="https://firebasestorage.googleapis.com/v0/b/login-a4abb.appspot.com/o/1.jpg?alt=media&token=5732d6cc-616b-43bf-94e4-38c585f4934c"
              alt="" style="width:100%" class="w3-round ">
           <div class="w3-display-middle w3-black" style="opacity:0.4;width:100%;height: 100%">
           </div>
           <div class="w3-display-middle ">
              <h3 style="color:white;" >
                 <b  class="w3-xxxlarge" >วัด</b>
                 <b ><br>สถานที่ต้องแวะทำบุญ ไหว้พระ</b>
                 <div class="w3-display-bottom">
                 </div>
              </h3>
              <div >
                 <ion-icon name="md-eye" style="color:white;"> <span>{{item.payload.val().view}}</span>
                 </ion-icon>
              </div>
           </div>
        </div>
     </div>
   
    <div style="margin: 5px;"></div>
  
    <div *ngFor="let item of itemProduct2 | async">
      <div class="w3-display-container" style="text-align: center" (click)="goVolunteerPage(item)">
         <img src="https://firebasestorage.googleapis.com/v0/b/login-a4abb.appspot.com/o/2.jpg?alt=media&token=f5122cfa-eef4-4f4a-8e06-fd2a50469a4a"
            alt="" style="width:100%" class="w3-round ">
         <div class="w3-display-middle w3-black" style="opacity:0.4;width:100%;height: 100%">
         </div>
         <div class="w3-display-middle ">
            <h3 style="color:white;">
               <b class="w3-xxxlarge" >จิตอาสา</b>
               <b ><br>สถานสงเคราะห์ ศูนย์รับความช่วยเหลือ</b>
            </h3>
            <div >
               <ion-icon name="md-eye" style="color:white;"> <span>{{item.payload.val().view}}</span>
               </ion-icon>
            </div>
         </div>
      </div>
   </div>
    
      <div style="margin: 5px;"></div>
  
      <div *ngFor="let item of itemProduct3 | async">
        <div class="w3-display-container" style="text-align: center" (click)="goTravelPage(item)">
           <img src="https://firebasestorage.googleapis.com/v0/b/login-a4abb.appspot.com/o/dr.jpg?alt=media&token=eaaf66ef-2d98-4310-9a5b-2f8f36cc703c"
              alt="" style="width:100%" class="w3-round ">
           <div class="w3-display-middle w3-black" style="opacity:0.4;width:100%;height: 100%">
           </div>
           <div class="w3-display-middle ">
              <h3 style="color:white;">
                 <b  class="w3-xxxlarge" >ท่องเที่ยว</b>
                 <b><br>สถานที่ท่องเที่ยวที่น่าสนใจ</b>
              </h3>
              <div>
                 <ion-icon name="md-eye" style="color:white;"> <span>{{item.payload.val().view}}</span>
                 </ion-icon>
              </div>
           </div>
        </div>
     </div>
   

     <div style="margin: 5px;"></div>

     <div *ngFor="let item of itemProduct4 | async">
        <div class="w3-display-container" style="text-align: center" (click)="goSportPage(item)" >
           <img src="https://firebasestorage.googleapis.com/v0/b/login-a4abb.appspot.com/o/4.png?alt=media&token=a5036aa7-3eef-492d-86c1-ef6be0247720"
              alt="" style="width:100%" class="w3-round ">
           <div class="w3-display-middle w3-black" style="opacity:0.4;width:100%;height: 100%">
           </div>
           <div class="w3-display-middle ">
              <h3 style="color:white;" >
                 <b   class="w3-xxxlarge" >ศูนย์กีฬา</b>
                 <b ><br>ก้าวแรกของความสำเร็จ เริ่มจากสุขภาพที่ดี</b>
                 <div class="w3-display-bottom">
                 </div>
              </h3>
              <div >
                 <ion-icon name="md-eye" style="color:white;"> <span>{{item.payload.val().view}}</span>
                 </ion-icon>
              </div>
           </div>
        </div>
     </div>
    </div>

   <!--

           <button ion-button (click)="add()">like</button>
      <div *ngFor="let item of itemProduct | async">
  
          <h1 >{{item.payload.val().title}}</h1>
          <span>{{item.payload.val().name}}</span>
  
          <span>{{item.payload.val().likes}}</span>
          <div class="badge badge-like-count"></div>

          <button ion-button (click)="incrementLike(item)">กดไลค์</button>
  
        </div>
   -->
  

   

  </ion-content>