page-home {
    ion-card {
        position: relative;
        text-align: center;

 
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
     
      }




      @media (max-width: 575.98px) { 
        .test{
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto ;
          align-items: center;
          h3{
            font-size: 17px;
          }
       
        }
       }

      // Small devices (landscape phones, 576px and up)
      @media (max-width: 767.98px) { 
        .test{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        h3{
          font-size: 18px;
        }
      } }
      
      // Medium devices (tablets, 768px and up) ipad
      @media (min-width: 768px) and (max-width: 991.98px) { 
        .test{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        h3{
          font-size: 25px;
        }
      } }
      
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) { 
        .test{
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        h3{
          font-size: 25px;
        }
      }}
      
      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) { 
        .test{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        h3{
          font-size: 60px;
        }
        ion-icon{
          font-size: 40px;
        }
      }}


      //I phone SE
      @media (min-width: 320px) and (max-width: 568px) { 
        .test{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        h3{
          font-size: 20px;
        }
        ion-icon{
          font-size: 20px;
        }
      }}

      

      //Iphone6/7/8
 @media (min-width: 375px) and (max-width: 667px) { 
  .test{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  h3{
    font-size: 23px;
  }
  ion-icon{
    font-size: 19px;
  }
}}

 //Iphone6/7/8 plus
 @media (min-width: 414px) and (max-width: 736px) { 
  .test{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  h3{
    font-size: 25px;
  }
  ion-icon{
    font-size: 22px;
  }
}}


 //Pixel 2 XL
 @media (min-width: 411px) and (max-width: 723px) { 
  .test{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  h3{
    font-size: 26px;
  }
  ion-icon{
    font-size: 23px;
  }
}}


 //Ipad
 @media (min-width: 768px) and (max-width: 1024px) { 
  .test{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  h3{
    font-size: 36px;
  }
  ion-icon{
    font-size: 34px;
  }
}}

 //Ipad pro
 @media (min-width: 1024px) and (max-width: 1366px) { 
  .test{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  align-items: center;
  h3{
    font-size: 45px;
  }
  ion-icon{
    font-size: 37px;
  }
}}


}
