<ion-header >
    <ion-navbar color="wat">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{title}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="w3-padding">

    

  <ion-slides pager>
    <ion-slide>
      <img src="{{imageURL}}" alt="">
    </ion-slide>
    <ion-slide>
        <img src="{{imageURL2}}" alt="">
    </ion-slide>
    <ion-slide>
        <img src="{{imageURL3}}" alt="">
    </ion-slide>
    <ion-slide>
      <img src="{{imageURL4}}" alt="">
  </ion-slide>
  </ion-slides>


<div class="test">


  <ion-list>
    <ion-item>
      <h1>{{title}}</h1>
    </ion-item>

    <ion-item>
      <ion-icon name="md-time" item-start color="wat"></ion-icon>
      {{time}}
    </ion-item>


    <ion-item>
      <ion-icon name="md-call" item-start color="wat"></ion-icon>
      {{call}}
    </ion-item>

    <ion-item>
      <ion-icon name="md-map" item-start color="wat"></ion-icon>
      {{address}}
    </ion-item>
  </ion-list>



  <section id="contact" style="margin-top:-40px;">
    <article class="w3-padding">

      <label for="checkcontact" class="contactbutton" >
        <h1>รายละเอียด</h1>
      </label>
      <input id="checkcontact" type="checkbox">
      <form action="" method="post" class="contactform">
        <h2 class="w3-justify w3-padding" style="line-height:32px;  text-indent: 50px; ">
         {{desc}}
        </h2>
      </form>
    </article>
  </section>




  <!--Footer-->
  <div class="w3-padding" style="margin-bottom: 5%;">
 
    <a ion-button full icon-only  color="dark"  href="{{track}}">แผนที่
      <ion-icon name="md-map" large color="white"></ion-icon>
    </a>
  </div>
</div>
 <!--
   <div class="container">
      <div class="form-group">
          <label for="comment">Comment</label>
          <input name="comment" type="text" class="form-control" id="comment" placeholder="" [(ngModel)]="student.comment">
        </div>
    
        <button ion-button  (click)="comment()" round color="sport">ยืนยัน</button>
    
       <ion-list *ngFor="let item of itemsWat | async">
         <ion-item >
           test 
         </ion-item>
       </ion-list>

       {{commentText}}
    
    
       <ion-list *ngFor="let item of itemsWat | async">
            <ion-item>
              <ion-avatar item-start>
                <img src="img/slimer.png">
              </ion-avatar>
              <h2>test2</h2>
            </ion-item>       
        </ion-list>

  </div>

 -->

  
  

</ion-content>